:root {
    --color-primary: #ffe600;
    --color-secondary: #075B4C;
    --color-Teratary: #FFFFFF;
    --color-Quaternary: #4F0570;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/*-------------------------------HEADER------------------------------------------------------*/
header {
    background-color: #ffe600;
    /*
    padding: 15px;
    */
    display: flex;
    align-items: center;
    height: 100px;
}

/*--Contenedor1--*/
.containerOne {
    width: 319px;
    height: 147px;
}

.containerOne>.logomercadolibre {
    margin-top: 32px;
    margin-bottom: 5px;
    position: relative;
    margin-left: 38px;
}

.logomercadolibre>span {
    position: absolute;
    left: 50px;
    color: #2D3277;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.texto25año {
    font-size: 8px;
    padding-bottom: 5px;
    position: absolute;
    top: 21px;
    left: 38px;
    width: 42px
}

.containerOne>.logonlocation {
    margin-top: -9px;
    padding-left: 5px;
    position: relative;
    margin-left: 20px;
}

.logonlocation>span {
    padding-left: 5px;
    position: absolute;
    top: 5px;
    left: 28px;
    font-size: 12px;
    color: #9d8e00;

}

.txt-Ubicacion {
    font-weight: 600;
    color: #333;
}

.logonlocation>img {
    width: 27px;
}

/*--Contenedor2--*/
.container-barrabusqueda {
    position: relative;
    width: 500px;
}

header input[type="text"] {
    width: 109%;
    padding: 10px;
    border: none;
    border-radius: 0px;
    position: absolute;
    top: -36px;
    left: -105px;
    height: 15px;
    font-size: 16px;
}

.container-barrabusqueda>nav {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 16px;
    left: -107px;
    font-size: 12px;
}

.container-barrabusqueda>img {
    width: 24px;
    height: 45px;
    position: absolute;
    top: -41px;
    left: 425px;
}

.txt-NUEVO {
    background-color: #3483fa;
    color: white;
    position: absolute;
    top: 4px;
    left: 141px;
    width: 41px;
    height: 9px;
    border-radius: 7px;
    text-align: center;
    padding-top: 2px;
    font-size: 9px;
    border-radius: 7px;

}

/*---Contenedor3----*/
.container-oferta {
    position: relative;
    width: 200px;
    height: 81px;
    margin-left: 118px;
}

.logo-Disney {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -7px;
    left: -62px;
    font-size: 9px;
}

.logo-Disney>img {
    width: 42px;


}

.logo-Disney>i {
    display: none;
}

.ofertaPlan {
    width: 269px;
    height: 24px;
    background-color: #38005b;
    border-radius: 5px;
    color: #ccb7d2;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;

}

.iconoCarritoResponsive {
    display: none;
}

.container-oferta>i {
    display: none;
}

.ofertaPlan>.TextOferta {
    color: #fdfdfd;
    font-weight: 700;
}

.nav-carritocompras {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 64px;
    right: 51px;

}

.iconoCarrito {
    width: 20px;
    height: 20px;
}

nav a {
    text-decoration: none;
    /*color: black;*/
    /*font-weight: bold;*/
    font-size: 13px;
}

/*---------------------------------------------FIN---------------------------------------------*/

/*--------------------------------------------SLIDER--------------------------------------------*/

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 5px;
}

.slider img {
    width: 100%;
    /* Hace que la imagen ocupe el 100% del contenedor */
    height: auto;
    /* Mantiene la proporción original de la imagen */
    display: block;
    /* Elimina cualquier espacio en blanco debajo de la imagen */
}


/* Categorías */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin: 20px;
}

.category {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}

/* Productos */
#product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/*
.slider {
    background-color: #ddd;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 943px;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.category {
    background-color: white;
    width: 18%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.search-btn,
#cart-btn,
#checkout-btn {
    padding: 8px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.product-list {
    padding: 20px;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card button {
    padding: 8px 10px;
    background-color: #ffc107;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#cart-section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/*
.slider {
    background-color: #ddd;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.category {
    background-color: white;
    width: 18%;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


*/

/*---------------------------------------------FIN----------------------------------------------------------------*/


/* Footer Styles */
footer {
    background-color: #f4f4f4;
    padding: 20px 10px;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
}

.footer-section img.card-icon {
    width: 50px;
    /* Tamaño predeterminado */
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transiciones suaves */
}

.footer-section img.card-icon:hover {
    transform: scale(1.2);
    /* Agranda la imagen al 120% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega sombra para resaltar */
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.footer-section p {
    margin: 10px 0;
    color: #666;
}

.footer-section a {
    display: block;
    margin-top: 10px;
    color: #0077ff;
    text-decoration: none;
    font-weight: bold;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-products {
    text-align: left;
    padding: 20px 0;
}


.footer-products h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.footer-products p {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    color: #666;
    line-height: 1.5;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.footer-bottom a {
    display: inline-block;
    color: #0077ff;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom p {
    font-size: 12px;
    color: #777;
    margin: 5px 0;
}


/*----------------------------------Modo Responsive HEADER-------------------------------------------*/

/*Para Pantallas mas Grander*/

/*
@media(max-width:1920px) {
    .nav-carritocompras {
        right: 270px;
    }

    .container-oferta {
        margin-left: 515px
    }

    header input[type="text"] {
        left: 253px
    }

    .container-barrabusqueda>img {
        left: 768px;
    }

    .container-barrabusqueda>nav {
        left: 250px
    }

    .txt-NUEVO {
        left: 501px;
    }

    .containerOne>.logomercadolibre {
        margin-left: 334px;
    }

    .logomercadolibre>span {
        top: 0px;
    }

    .containerOne>.logonlocation {
        margin-left: 333px;
    }

}


@media(max-width:1706.67px) {
    .nav-carritocompras {
        right: 230px;
    }

    .container-oferta {
        margin-left: 361px
    }

    header input[type="text"] {
        left: 185px
    }

    .container-barrabusqueda>img {
        left: 706px;
    }

    .container-barrabusqueda>nav {
        left: 184px
    }

    .txt-NUEVO {
        left: 442px;
    }

    .containerOne>.logomercadolibre {
        margin-left: 276px;
    }

    .logomercadolibre>span {
        top: 0px;
    }

    .containerOne>.logonlocation {
        margin-left: 279px;
    }

}

@media(max-width:1600px) {
    .nav-carritocompras {
        right: 124px;
    }

    .container-oferta {
        margin-left: 361px
    }

    header input[type="text"] {
        left: 156px
    }

    .container-barrabusqueda>img {
        left: 679px;
    }

    .container-barrabusqueda>nav {
        left: 156px
    }

    .txt-NUEVO {
        left: 408px;
    }

    .containerOne>.logomercadolibre {
        margin-left: 276px;
    }

    .logomercadolibre>span {
        top: 0px;
    }

    .containerOne>.logonlocation {
        margin-left: 279px;
    }

}


@media(max-width:1422.22px) {
    .nav-carritocompras {
        right: 64px;
    }

    .container-oferta {
        margin-left: 260px
    }

    header input[type="text"] {
        left: 76px
    }

    .container-barrabusqueda>img {
        left: 595px;
    }

    .container-barrabusqueda>nav {
        left: 75px
    }

    .txt-NUEVO {
        left: 330px;
    }

    .containerOne>.logomercadolibre {
        margin-left: 186px;
    }

    .logomercadolibre>span {
        top: 0px;
    }

    .containerOne>.logonlocation {
        margin-left: 188px;
    }

}
*/


/*Pantallas mas Pequeñas*/

@media(max-width: 1280px) {

    header {
        background-color: #ffe600;
        /*
    padding: 15px;
    */
        display: flex;
        align-items: center;
        height: 100px;
    }


    .container-oferta {

        margin-left: 100px;
    }

    .ofertaPlan {
        width: 269px;
        height: 24px;
        background-color: #38005b;
        border-radius: 5px;
        color: #ccb7d2;
        padding-top: 6px;
        font-size: 14px;
        display: flex;
        gap: 2px;
        justify-content: center;

    }


}

@media(max-width: 1197px) {

    .container-oferta {

        margin-left: 65px;
    }




}

@media(max-width:1159px) {
    .container-barrabusqueda {
        width: 451px;
    }

    .container-barrabusqueda>img {
        left: 366px;
    }

}

@media(max-width: 1115px) {

    .container-oferta {

        margin-left: 50px;
    }

    .container-barrabusqueda {
        width: 400px;
    }

    .container-barrabusqueda>img {
        left: 310px;
    }

    .container-barrabusqueda>nav {
        gap: 8px;
    }

    .nav-carritocompras {
        gap: 12px;
        right: 76px;
    }
}

@media(max-width:1061px) {

    .container-barrabusqueda {
        width: 350px;
    }

    .container-barrabusqueda>img {
        left: 250px;
    }


    .container-oferta {

        margin-left: 30px;
    }

    .container-barrabusqueda>nav {
        gap: 6px;
    }

    .nav-carritocompras {
        gap: 9px;
        right: 148px;
    }

    nav a {
        font-size: 11px;
    }
}

@media(max-width:1055px) {
    .containerOne {
        width: 278px;
    }

    .nav-carritocompras {
        gap: 9px;
        right: 78px;
    }

    .container-oferta {

        margin-left: 20px;
    }
}


@media(max-width:987px) {

    .containerOne>.logonlocation {
        margin-left: 38px;
    }

    .container-barrabusqueda>nav {
        display: none;
    }

    .nav-carritocompras {
        display: none;
    }

    .txt-NUEVO {
        display: none;
    }

    .txt-Ubicacion {
        color: #9d8e00;
    }

    .logo-Disney>i {
        display: block;
        font-size: 24px;
        position: absolute;
        top: 16px;
        left: 61px;
    }

    .logo-Disney>img {
        display: none;
    }

    .logo-Disney>span {
        display: none;
    }

    .ofertaPlan {
        display: none;
    }

    .iconoCarritoResponsive {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        left: 80px;
    }

    .container-oferta>i {
        display: block;
        position: absolute;
        top: 12px;
        left: 173px;
        font-size: 20px;
    }


}

@media(max-width:823px) {

    .container-barrabusqueda {
        width: 325px;
    }

    .container-barrabusqueda>img {
        left: 221px;
    }

    .containerOne>.logomercadolibre {
        margin-left: 13px;
    }

    .containerOne>.logonlocation {
        margin-left: 51px;
    }

    .logomercadolibre>span {
        display: none;
    }

    .logomercadolibre>img {
        margin-left: 40px;
    }

}

@media(max-width:785px) {

    .logo-Disney>i {
        left: 45px;
    }

    .iconoCarritoResponsive {
        left: 60px;
    }

    .container-oferta>i {
        left: 138px;
    }

    .container-barrabusqueda>img {
        left: 180px;
    }

    .logomercadolibre>span {
        display: none;
    }

    .logomercadolibre>img {
        margin-left: 40px;
    }

    .containerOne>.logonlocation {
        margin-left: 51px;
    }

}

@media(max-width:716px) {

    .logomercadolibre>img {
        margin-left: 20px;
    }

    .containerOne>.logonlocation {
        margin-left: 24px;
    }

    .container-barrabusqueda>img {
        left: 168px;
    }

}

@media(max-width:700px) {
    .logomercadolibre>img {
        margin-left: 0px;
    }

    .containerOne>.logonlocation {
        margin-left: 10px;
    }


}

@media(max-width:685px) {
    .container-barrabusqueda>img {
        display: none;
    }


}

@media(max-width:616px) {
    header input[type="text"] {
        left: -95px;
    }

}

@media(max-width:593px) {
    header input[type="text"] {
        left: -73px;
    }

}

@media(max-width:505px) {
    header input[type="text"] {
        left: -61px;
    }

}

@media(max-width:495px) {
    header input[type="text"] {
        left: -51px;
    }

}

@media(max-width:458px) {
    header input[type="text"] {
        left: -37px;
    }

}

@media(max-width:428px) {
    header input[type="text"] {
        left: -31px;
    }

}

@media(max-width:420px) {
    header input[type="text"] {
        left: -4px;
    }

    .logo-Disney>i {
        left: 85px;
    }

    .iconoCarritoResponsive {
        left: 79px;
    }

}


@media(max-width:371px) {
    header input[type="text"] {
        left: 20px;
    }

    .logo-Disney>i {
        left: 104px;
    }

    .iconoCarritoResponsive {
        left: 92px;
    }

}

/*---------------------------------FIN---------------------------------------------*/


/*----------------Media Query Slider----------------------------------------------*/

/* Media Queries */
@media (max-width: 768px) {

    /*
    header {
        flex-direction: column;
    }

    .container-barrabusqueda {
        width: 100%;
        margin: 0;
    }

    header input[type="text"] {
        max-width: 100%;
    }
    */
    .slider {
        flex-direction: column;
        padding: 15px;
    }

    .categories {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-width: 480px) {
    .category img {
        max-width: 40px;
    }

    .card {
        padding: 10px;
    }
}